<component name="ArtifactManager">
  <artifact type="war" name="SpringServletDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringServletDemo.war">
      <element id="artifact" artifact-name="SpringServletDemo:war exploded" />
    </root>
  </artifact>
</component>