<component name="ArtifactManager">
  <artifact type="war" name="SpringWebDemo:war">
    <output-path>$PROJECT_DIR$/SpringWebDemo/target</output-path>
    <root id="archive" name="SpringWebDemo.war">
      <element id="artifact" artifact-name="SpringWebDemo:war exploded" />
    </root>
  </artifact>
</component>